.contact form{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
    width: 550px;
}

.field {
    margin: 10px 5px;
}

.field label{
    display: inline-block;
    width: 105px;
    vertical-align: top;
}

.field input{
    width: 200px;
}

.field textarea{
    width: 370px;
}

.field select{
    width: 208px;
}

.contact .contactDiv{
    padding-left: 220px;
}

.contact fieldset{
    box-shadow: 10px 10px 5px  rgba(0,0,0,.1);
}

.contact fieldset legend{
    font-size: 18px;
    padding: 0 10px;
}

.submit{
    padding: 20px;
    margin-top: 9px;
}
.submit div{
    margin: 0 0 10px 0;
}
.submit button{
    border: 1px solid #2c2c54;
    background-color: steelblue;
    color: white;
    padding: 5px 10px;
}

.submit button:hover{
    border: 1px solid #2c2c54;
    background-color: white;
    color: steelblue;
    padding: 5px 10px;
}

.rightAside{
    height: 565px;
}

.rightAside ul{
    line-height: 30px;
    list-style: none; 
    padding-left: 0; 
    padding-bottom: 10px;
}

.rightAside td{
    padding: 0 10px;
}