.indexDiv{
    padding-left: 40px;
}

.mainImage{
    box-shadow: 10px 10px 5px  rgba(0,0,0,.1);
}

.rightAside ul{
    line-height: 30px;
    list-style: none; 
    padding-left: 0; 
    padding-bottom: 10px;
}

.rightAside a:hover{
    color: white;
    background-color: steelblue;
}